
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br>
<br>
<br>
<body style="background-image: url('../../hotel2.jpg');  ">
    <h1 style="font-family:'Baskerville Old Face';font-size:xx-large;color:black;font-style:italic;align-content:center ">Welcome to Luxurystays</h1>

    <a href="/Home/Login"><h3 style="font-family:Algerian;font-size:x-large;color:black;align-content:center ">Login</h3></a>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</body>