@model HBMS.Models.Hotels180625
@{
    ViewBag.Title = "MainContent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br>
<br>



@using (Html.BeginForm())
{
<body style="background-image: url('../../images/lobby.jpg');height:auto;width:auto">

    @*background-image: url('../../images/banner/3.jpg');*@

    <h1 style="color:crimson;text-align:center;font-family:Baskerville Old Face">Welcome to LuxuryStays</h1>

    <div class="col-offset-4">
    <a href="/Admin/Details"><h3 style="background-color:black;opacity:0.75;color:palevioletred;">View Hotel Screen</h3></a>
        </div>

    <a href="/Admin/RoomIndex"><h3 style="background-color:black;opacity:0.75;color:palevioletred">View Room Details</h3></a>


    <a href="/Admin/ViewReports"><h3 style="background-color:black;opacity:0.75;color:palevioletred">View Reports</h3></a>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

</body>
}


