
@{
    ViewBag.Title = "ViewReports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br>
<br />


<h2 style="text-align:center;color:black;">ViewReports</h2>

<body style="background-image: url('../../images/reception.jpg'); ">
    <br />
   <div class="col-offset-4">
        <a href="/Admin/BookingsOfSpecifichotel"><h3 style="background-color:black;opacity:0.75;color:palevioletred;">Bookings Of Specific Hotel</h3></a>
    </div>
    <a href="/Admin/Details"><h3 style="background-color:black;opacity:0.75;color:palevioletred">List Of All Hotels</h3></a>
    <a href="/Admin/DetailofUser"><h3 style="background-color:black;opacity:0.75;color:palevioletred">List Of All Users</h3></a>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</body>
